Repository hieudt-2054/rog-schedule, changes with the labels that .github/labeler.yml gives for each.
All labels: JS Library, Composer Library, Frontend, Backend, Unit Test, CircleCI Config, Github Action, Docker, Documentation

.github/labeler.yml:

JS Library: package.json
Composer Library: composer.json
Frontend: resources/**/*
Backend: app/**/*
Unit Test: tests/**/*
CircleCI Config: .circleci/**/*
Github Action: .github/**/*
Docker: .docker/**/*
Documentation: README.md

Fiixed readme
  README.md
Labels: Documentation

Function: Login & Register request response, VueX SPA
  app/Http/Controllers/AuthController.php
  package.json
  resources/js/app.js
  resources/js/components/Admin.vue
  resources/js/components/dashboard/views/Dashboard.vue
  resources/js/config/axios.js
  resources/js/layouts/dashboard/Footer.vue
  resources/js/layouts/dashboard/Header.vue
  resources/js/modules/auth/api.js
  resources/js/modules/auth/store.js
  resources/js/modules/auth/views/Login.vue
  resources/js/router/routes.js
  resources/js/store.js
  routes/api.php
Labels: JS Library, Frontend, Backend

Hotfix: Show Dashboard
  resources/js/modules/dashboard/views/HelloWord.vue
  resources/js/router/routes.js
Labels: Frontend

Add login with Google & Validate notification
  .env.example
  app/Http/Controllers/AuthController.php
  app/Services/AuthService.php
  composer.json
  composer.lock
  config/services.php
  package.json
  resources/js/app.js
  resources/js/modules/auth/store.js
  resources/js/modules/auth/views/Login.vue
  resources/js/router/routes.js
  routes/web.php
Labels: JS Library, Composer Library, Frontend, Backend

hotfix: remove library unused
  .env.example
  resources/js/app.js
  webpack.mix.js
Labels: Frontend

Add mock schedule
  resources/js/app.js
  resources/js/layouts/dashboard/Footer.vue
  resources/js/modules/dashboard/views/Calendar.vue
  resources/js/modules/dashboard/views/HelloWord.vue
  resources/js/router/routes.js
Labels: Frontend

Add backend Schedule crud function
  app/Http/Controllers/ScheduleController.php
  app/Models/Schedule.php
  app/Models/User.php
  app/Providers/RepositoryServiceProvider.php
  app/Repositories/Contracts/ScheduleRepositoryInterface.php
  app/Repositories/Eloquents/ScheduleRepository.php
  app/Services/ScheduleService.php
  app/Services/UserService.php
  database/migrations/2020_01_26_123944_add_table_schedule.php
  routes/api.php
Labels: Backend

Test Self Runner Hosted
  .circleci/config.yml
  .github/workflows/label.yml
  .github/workflows/laravel.yml
  .github/workflows/suncs.yml
  app/Models/User.php
Labels: Backend, CircleCI Config, Github Action

Schedule API Frontend Temp
  app/Http/Controllers/ScheduleController.php
  app/Services/ScheduleService.php
  resources/js/modules/dashboard/views/Calendar.vue
  resources/js/modules/schedule/api.js
  resources/js/modules/schedule/store.js
  resources/js/store.js
  routes/api.php
Labels: Frontend, Backend

Fix suncs
  .github/workflows/suncs.yml
Labels: Github Action

add wip action
  .github/workflows/wip.yml
Labels: Github Action

Add Pull Request Auto action
  .github/workflows/pull-request-auto.yml
Labels: Github Action

Add Pull Request Auto action
  .github/workflows/label.yml
  .github/workflows/pr-auto.yml
Labels: Github Action

Test Action
  .github/workflows/suncs.yml
Labels: Github Action

API UPDATE v2
  resources/js/layouts/dashboard/Footer.vue
  resources/js/modules/schedule/api.js
  resources/js/modules/schedule/store.js
Labels: Frontend

Change Provider Deploy CircleCI To GithubActions
  .circleci/config.yml
  .github/workflows/deploy.yml
Labels: CircleCI Config, Github Action

Changes
  README.md
Labels: Documentation

Changes
  README.md
Labels: Documentation

Test use private key on server
  .circleci/config.yml
  .github/workflows/deploy.yml
Labels: CircleCI Config, Github Action

Update config.yml
  .circleci/config.yml
Labels: CircleCI Config

Add Sentry Form Report Exception
  .circleci/config.yml
  app/Exceptions/Handler.php
  resources/views/errors/500.blade.php
  routes/web.php
Labels: Frontend, Backend, CircleCI Config

Update README.md
  README.md
Labels: Documentation

Update new server deploy
  .circleci/config.yml
Labels: CircleCI Config

Make 2FA - Generate Secret Keys
  app/Http/Controllers/PasswordSecurityController.php
  app/Models/PasswordSecurity.php
  app/Models/User.php
  app/Services/AuthService.php
  composer.json
  composer.lock
  config/google2fa.php
  database/migrations/2020_02_11_062304_create_password_securities_table.php
  resources/js/components/Admin.vue
  resources/js/layouts/dashboard/Header.vue
  resources/js/modules/auth/api.js
  resources/js/modules/auth/store.js
  resources/js/modules/auth/views/TwoFactor.vue
  resources/js/router/routes.js
  routes/api.php
  routes/web.php
Labels: Composer Library, Frontend, Backend

Feature enable 2FA
  app/Http/Controllers/PasswordSecurityController.php
  app/Services/AuthService.php
  composer.json
  composer.lock
  resources/js/components/Admin.vue
  resources/js/layouts/dashboard/Footer.vue
  resources/js/modules/auth/api.js
  resources/js/modules/auth/store.js
  resources/js/modules/auth/views/TwoFactor.vue
  routes/api.php
  routes/web.php
Labels: Composer Library, Frontend, Backend

Feature enable 2FA
  app/Http/Controllers/PasswordSecurityController.php
  app/Services/AuthService.php
  composer.json
  composer.lock
  resources/js/components/Admin.vue
  resources/js/layouts/dashboard/Footer.vue
  resources/js/layouts/dashboard/Header.vue
  resources/js/modules/auth/api.js
  resources/js/modules/auth/store.js
  resources/js/modules/auth/views/TwoFactor.vue
  routes/api.php
  routes/web.php
Labels: Composer Library, Frontend, Backend

Fix data schedule post null
  app/Exceptions/Handler.php
  app/Http/Controllers/ScheduleController.php
  app/Models/Schedule.php
  resources/js/layouts/dashboard/Footer.vue
Labels: Frontend, Backend

Monitoring application to chatwork message
  .circleci/config.yml
  .env.example
  app/Exceptions/Handler.php
  app/Traits/MonitorExceptionHandlerTrait.php
  composer.json
  composer.lock
  config/app.php
  config/services.php
Labels: Composer Library, Backend, CircleCI Config

Hotfix Laravel mix
  composer.lock
  package.json
Labels: JS Library

Fix show calendar when created
  app/Services/ScheduleService.php
  resources/js/modules/dashboard/views/Calendar.vue
  resources/js/modules/schedule/api.js
  resources/views/errors/500.blade.php
Labels: Frontend, Backend
